.student{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 2em;
    border-radius: 20px ;
    
    border: 1px solid hsla(0, 0%, 50%, 0.8);
}
.p{
    color: #333;
    margin :0;
}